.catkin_workspace
build/atomic_configure
build/bin
build/catkin
build/catkin_generated
build/CATKIN_IGNORE
build/catkin_make.cache
build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/CTestConfiguration.ini
build/CTestCustom.cmake
build/CTestTestfile.cmake
build/data_logger
build/gtest
build/Makefile
build/ros_bridge_server
build/rviz_msg_transformer
build/test_results
build/trajecgenerator
devel/cmake.lock
devel/env.sh
devel/include
devel/lib
devel/local_setup.bash
devel/local_setup.sh
devel/local_setup.zsh
devel/setup.bash
devel/setup.sh
devel/_setup_util.py
devel/setup.zsh
devel/share
